
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-image: url(https://wallpaperaccess.com/full/2435550.png);
}
.container {
  display: flex;
  flex-direction: column;
  
}

.row {
  display: flex;
  flex-direction: row;
  
}

.grid{
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 330px;
  background-color: rgb(255, 251, 241,0.5);
  border-radius: 50px;
  box-shadow: 2px 11px 16px 3px;
}

.xobutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: transparent; 
  background-image: url(https://img1.picmix.com/output/stamp/normal/8/2/7/4/1754728_6d35b.gif);
  background-size: cover;
  width: 85px;
  height: 85px;
  text-align: center;
  border: none;
  /* align-items: center; */
  /* align-items: ; */
  margin: 10px;

  font-family: "Permanent Marker", cursive;
  
}

.green {
  color: green;
}

.red {
  color: red;
}

h1{
  /* background-color: rgb(148, 202, 197); */
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/034/525/551/original/marianne-holveck-test.gif?1612520602);
  background-size: cover;
  -webkit-text-stroke: 0.5px pink;
  color:rgb(255, 238, 183);
  text-align: center;
  border-radius: 50px;
  font-family: 'Lobster', cursive;
}
 
img{
  width: 150px;
  height: 150px;
  position:static;
  
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani194.ani), url(https://cur.cursors-4u.net/anime/ani-1/ani194.png), auto !important;} /* End https://www.cursors-4u.com */